h1 {
  margin: 0;
}
.detail_h2 {
  width: 100vw;
  height: 4vh;
  border-radius: 6px;
  padding: 10px 20px;
  vertical-align: middle;
  background-color: #d5ffea;
}
.review {
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  padding: 10px 20px;
  background-color: #d5ffea;
}
.white_bg {
  background-color: white;
}
.green {
  color: #30cf82;
}
.padding {
  margin: 2vh 0px;
  padding: 0px 2vw;
  border-radius: 6px;
}
.star {
}
.short_cover_row {
  padding: 10px 20px;
  border-radius: 6px;
}
.productdetail_cover_row {
}

.price {
  font-size: 32px;
  font-weight: bold;
  color: #174e34 !important;
}
.amount {
  font-size: 16px;
  font-weight: bold;
}
.shortdetail_column {
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
  justify-content: space-between;
  height: 100%;
}
.detail_list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
  align-items: center;
  vertical-align: middle;
}
.addtocart_button {
  background-color: #30cf82;
  color: white;
  font-weight: 600;
  border-radius: 2px !important;
}

.productdetail_columnn {
  width: 100%;
}
.rate {
  display: flex;
  justify-content: center;
}
.myrate {
  font-weight: bold;
  font-size: 24px;
}
.allrate {
  vertical-align: bottom;
  margin-left: 5px;
}
.review_title {
  margin: 0px 0px 10px;
  color: #cf4330;
}
.rate_filter_button {
  background-color: white;
  color: #30cf82;
  border-color: #30cf82;
  border-radius: 0px;
  width: 5vw;
  margin: 0px 0.2vw;
}
.avatar {
  width: fit-content;
  height: 56px;
}
.review_list {
  width: 100%;
}
.review_description {
  overflow-wrap: break-word;
}
