
@{
    ViewData["Title"] = "Home Page";
}

<!-- Begin Page Content -->
<div class="container-fluid">

    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex justify-content-center">
            <h1 class="m-0 font-weight-bold text-primary">Chào mừng trở lại!!!</h1cl>
        </div>
        <div class="card-body">
            <img src="./img/background_log.png" class="img-thumbnail w-100" />
        </div>
    </div>

</div>
<!-- /.container-fluid -->
