.title {
  overflow-wrap: break-word;
  font-size: 15px;
}
.price {
  font-size: 20px !important;
  font-weight: bold;
  color: #174e34 !important;
}
.flex_column {
  display: flex;
  flex-direction: column;
}
.cart_container {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  background-color: white;
  padding: 20px;
  margin: 1vh 0vw 1vh 4vw;
}
.page_title {
  margin: 0px;
  padding: 0px;
  color: white;
  font-weight: 600;
}
.title_bar {
  display: flex;
  border-radius: 6px;
  background-color: #30cf82;
  width: 100vw;
  align-items: center;
}
