@model _1015bookstore.viewmodel.Catalog.PromotionalCodes.PromotionalCodeCreateRequest

@{
    ViewData["Title"] = "Mã giảm giá";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-sm-flex align-items-center justify-content-between">
            <h3 class="m-0 font-weight-bold text-primary">Tạo mới mã giảm giá</h3>
            @if (ViewBag.error != null)
            {
                <div id="msg" class="card bg-danger text-white shadow">
                    <div class="card-body">
                        @ViewBag.error
                    </div>
                </div>
            }
            <div>
                <a asp-action="Index" asp-controller="PromotionalCode">Xem danh sách</a>
            </div>
        </div>
        <div class="card-body">
            <form asp-action="Create" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="sPromotionalCode_code" class="control-label"></label>
                    <input asp-for="sPromotionalCode_code" class="form-control" />
                    <span asp-validation-for="sPromotionalCode_code" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="sPromotionalCode_name" class="control-label"></label>
                    <input asp-for="sPromotionalCode_name" class="form-control" />
                    <span asp-validation-for="sPromotionalCode_name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="sPromotionalCode_description" class="control-label"></label>
                    <input asp-for="sPromotionalCode_description" class="form-control" />
                    <span asp-validation-for="sPromotionalCode_description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="iPromotionalCode_discount_rate" class="control-label"></label>
                    <input asp-for="iPromotionalCode_discount_rate" class="form-control" />
                    <span asp-validation-for="iPromotionalCode_discount_rate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="iPromotionalCode_amount" class="control-label"></label>
                    <input asp-for="iPromotionalCode_amount" class="form-control" />
                    <span asp-validation-for="iPromotionalCode_amount" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="dtPromotionalCode_fromdate" class="control-label"></label>
                    <input asp-for="dtPromotionalCode_fromdate" class="form-control" />
                    <span asp-validation-for="dtPromotionalCode_fromdate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="dtPromotionalCode_todate" class="control-label"></label>
                    <input asp-for="dtPromotionalCode_todate" class="form-control" />
                    <span asp-validation-for="dtPromotionalCode_todate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Tạo mã giảm giá" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

